.experience {
  .jobs {
    margin-bottom: 100px;
  }
  .job {
    margin-bottom: 25px;
    .time-place {
      display: flex;
      justify-content: space-between;
      @include mobile {
        display: block;
      }
    }
    &__company {
      font-weight: 700;
    }
    &__time {
      font-size: 0.9rem;
      font-family: 'Inconsolata', monospace;
      @include mobile {
        font-size: 0.8rem;
      }
    }
    p {
      font-size: 0.9rem;
      margin-bottom: 20px;
    }
    &__used {
      &__item {
        display: inline-block;
        margin: 3px 3px 12px 0;
        font-family: 'Inconsolata', monospace;
        font-size: 0.75rem;
        font-weight: 700;
        padding: 2px 7px;
        border-radius: 3px;
        color: $blue;
        border: 1px solid $blue;
        background: transparent;
        &:first-of-type {
          margin-left: 0;
        }
      }
    }
  }
  .arrow-link {
    font-size: 1.25rem;
    &:after {
      width: 20px;
      height: 20px;
    }
  }
}
