<section class="section experience">
  <div class="section__title">FORMAÇÃO</div>
  <div class="section__content">
    <div class="jobs">
      {% for curso in site.data.study %}
      <div class="job">
        <div class="time-place">
          <div class="job__company">
            <a href="{{curso.url}}" target="_blank">{{curso.faculdade}}</a>
          </div>
          <div class="job__time">{{curso.data}}</div>
        </div>
        <div class="job__position">{{curso.curso}}</div>
      </div>
      {% endfor %}
    </div>

  </div>
</section>
