<section class="section background">
  <div class="section__title">RESUMO</div>
  <div class="section__content">
    <p>
      Atualmente, atuo como
      UX Designer e Researcher focado em Inovação desenvolvendo pesquisas e projetos através das ferramentas e metodologias do design estratégico e lean inception, com foco na inovação, experiência centrada no usuário e suas interações com interfaces digitais e novos canais consumo.
    </p>

    <p>
      Com mais de 14 anos de experiência como designer, atuei em projetos para grandes empresas do varejo brasileiro e latino-americano, desenvolvendo soluções estratégicas para a internacionalização de marcas, relacionamento com o consumidor através de novos canais digitais e também ferramentas para a qualificação dos processos de vendas no setor B2B.
    </p>

    <br><br><br>
    <a href="{{site.resume}}" target="_blank" class="arrow-link">CV</a> <br><br>
    <a href="{{site.portfolio}}" target="_blank" class="arrow-link">Portfolio</a> &nbsp;
    <a href="{{site.portfolio2}}" target="_blank" class="arrow-link">Portfolio 2</a>


  </div>
</section>
