<section class="section background">
  <div class="section__title">RESUMO</div>
  <div class="section__content">
    <p>
      Atualmente, atuo como
      <a class="underline-link" href="http://rogercamara.github.io/" target="_blank">consultor de Design Estratégico e Inovaçao</a> desenvolvendo pesquisas e projetos através das ferramentas e metodologias do design estratégico e lean inception, com foco na inovação, experiência centrada no usuário e suas interações com interfaces digitais e novos canais consumo.
    </p>

    <p>
      Com mais de 12 anos de experiência como designer, atuei em projetos para grandes empresas do varejo brasileiro e latino-americano, desenvolvendo soluções estratégicas para a internacionalização de marcas, relacionamento com o consumidor através de novos canais digitais e também ferramentas para a qualificação dos processos de vendas no setor B2B.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
