<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://blistabloc.com/" target="_blank">
          <img src="https://media.licdn.com/dms/image/D4D12AQFyIMloliop7A/article-cover_image-shrink_720_1280/0/1662274128022?e=1678320000&v=beta&t=6Y61o8AbgGAm-hgVmparbCdW6ftE7lvZ8rg-Iiz1YEk" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://www.linkedin.com/pulse/ux-audit-impactando-metas-de-um-servi%25C3%25A7o-atrav%25C3%25A9s-uma-auditoria-camara/?trackingId=EIN45xQ0R4%2B60wPnejNwSg%3D%3D" target="_blank">UX Audit</a>
        </div>
        <p> como impactar metas de um serviço através de uma auditoria orientada pelo design</p>
      </figcaption>
    </div>

    


  </div>
</section>
