<section class="section skills">
  <div class="section__title">HABILIDADES</div>
  <div class="section__content">
    <<p>Habilidades que permitem integrar equipes multidisciplinares e entender melhor sobre aspectos detalhados de projetos desafiadores:</p>
    <div class="skillz">
      <div class="skillz__category">
        <div class="skillz__category__label">DESIGN</div>
        <ul>
          {% for language in site.data.skills.languages %}
          <li class="skillz__category__item">{{language.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">FERRAMENTAS</div>
        <ul>
          {% for framework in site.data.skills.frameworks %}
          <li class="skillz__category__item">{{framework.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">FRONT-END</div>
        <ul>
          {% for tool in site.data.skills.tools %}
          <li class="skillz__category__item">{{tool.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">MULTIDISCIPLINAR</div>
        <ul>
          {% for thing in site.data.skills.design %}
          <li class="skillz__category__item">{{thing.item}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
