---
layout: compress
---
<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3CFWG3HD49"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3CFWG3HD49');
</script>
<body>
  {{ content }}
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1639883373097230"
     crossorigin="anonymous"></script>
<!-- Anuncio de Conteudo -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1639883373097230"
     data-ad-slot="3406066387"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  {% include scripts.html %}
</body>
</html>
